@import 'partials/reset';
@import 'partials/clearfix';

@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i|Baloo+Thambi';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Baloo Thambi', cursive;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 1.25em;
}

body{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 0.95em;
}

//////////////////////////
/////// WHITEBOARD ///////
//////////////////////////
.main-container{
  margin: 25px auto;
  padding: 40px;
  width: 90%;
  border: 4px #B0B0B0 solid;
  background-color: #DBDBDB;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(140,140,140,1);
  -moz-box-shadow: 2px 2px 1px 0px rgba(140,140,140,1);
  box-shadow: 2px 2px 1px 0px rgba(140,140,140,1);
  @media screen and (min-width: 1000px) {
    width: 80%;
  }
}
/////// WHITE AREA ///////
.kanban-container{
  border: 2px #B0B0B0 solid;
  border-radius: 10px;
  background-color: #FFF;
  padding: 10px;
}

//////////////////////////
////// ALL COLUMNS ///////
//////////////////////////
.status-columns{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

//////////////////////////
//// INDIVIDUAL COLUMN ///
//////////////////////////
.column {
  flex: 0 0 100%;
  padding: 10px;
  &:not(:first-child){
    border-top: #000 1px solid;
  }
  @media screen and (min-width: 1000px) {
  flex: 1 1 30%;
    &:not(:first-child){
      border-top: none;
      border-left: #000 1px solid;
    }
  }
}

// TASK-CARD CONTAINER //
.task-list {
  // border: red 2px dashed;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

//////////////////////////
/////// TASK CARD ////////
//////////////////////////

.task-card {
  flex: 0 0 200px;
  height: 200px;
  margin: 20px auto;
  padding: 15px;
  background-color: #ffff88;
  -webkit-box-shadow: 0px 8px 25px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 8px 25px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 8px 25px -5px rgba(0,0,0,0.5);
  p {
    padding-top: 5px;
  }
  span {
    font-size: 0.75em;
    font-weight: 700;
  }
}

.task-title{
  font-size: 1.25em;
  font-weight: 700;
}
.task-priority {
  text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
}

//////////////////////////
////////// FORM //////////
//////////////////////////
.form-container {
  border: blue 2px dashed;
  margin: 15px auto 0;
  padding: 15px;
  width: 250px;
  p {
    padding-top: 15px;
  }
  @media screen and (min-width: 1000px) {
    width: 400px;
  }
}

input {
  width: 80%;
  padding: 5px;
  border: solid 1px gray;
  outline: 0;
  background: white;
}

input[type=submit]{
  text-transform: uppercase;
  width: 50%;
}